@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
  background-color: #e4e9f2; 
  color: #1a1a1a; 
  font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 16px;
  }
  .fechas {
    font-size: 14px;
  }

ul{
  display: flex;
  flex-direction: row;
  Justify-content: space-between;
  gap: 50px;
  list-style: none;
}

li:hover{
font-weight: bold;
}

header{
  display: flex;
  flex-direction: row;
  Justify-content: space-between;
  align-items: baseline;
  align-content: center;
  background-color:#2e3940;
  padding-left: 20px;
  color:whitesmoke;
  height:fit-content;
}

img{
width:320px;
object-fit:cover;
}

.nombre{
  font-size:32px;
  margin-top: 10px;
}

.subt{
  color:#bf9c8f;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

a{
color:whitesmoke;
text-decoration:none;
}

.container{
  display:flex;
  flex-direction:row;
  gap: 0px;
  Justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  flex-wrap: wrap;
}

.presen{
  margin-left: 20px;
  width:60%;
  text-align: justify ;
}

hr{
height:2px;
background-color: #2E3940;
}

.estudios{
  background-color:#2E3940;
  padding: 20px 20px;
}
.container2{
  display: grid;
  grid-template-columns: 250px 600px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap:10px;
  align-content: start;
  justify-items: start;
  align-items:start;
}

.fechas{
  color:whitesmoke 
}

footer{
  padding: 10px 20px;
  background-color:#2e3940;
  padding-left: 20px;
}
