@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
  background-color: #e4e9f2; 
  color: #1a1a1a; 
  font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 16px;
  }
  .fechas {
    font-size: 14px;
  }

ul{
  display: flex;
  flex-direction: row;
  Justify-content: space-between;
  gap: 50px;
  list-style: none;
}

li:hover{
font-weight: bold;
}

header{
  display: flex;
  flex-direction: row;
  Justify-content: space-between;
  align-items: baseline;
  align-content: center;
  background-color:#2e3940;
  padding-left: 20px;
  color:whitesmoke;
  height:fit-content;
}

h3{
  color:#bf9c8f;
}

a{
color:whitesmoke;
text-decoration:none;
}

.container{
  display:flex;
  flex-direction:row;
  gap: 0px;
  Justify-content: space-between;
  align-items: center;
  align-content: space-between;
  
}

.presen{
  margin-right: 20px;
}

hr{
height:2px;
background-color: #2E3940;
}

.estudios{
  background-color:#2E3940;
  padding: 10px 20px;
}

.fechas{
  color:whitesmoke 
}

footer{
  padding: 10px 20px;
}
